@import "tailwindcss";

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.category {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  margin-left: 10px;
  color: blue;
}